body {
    background-image: url("image.jpg");
  
  }
  .Titulo {
    color: rgb(255, 251, 251);
    text-shadow: 2px 2px 4px #ff0000;
  }

  h3 {

color: white;

  }

  p{

color: white;


  }


  h4 {

color: white;

  }


  hr {


    color: white;
  }